/*=============== GOOGLE FONTS ===============*/
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Ubuntu Condensed", sans-serif; */
  font-family: "Teko", sans-serif;
  font-size: 19px;
  background-color: hsl(0, 0%, 0%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #833333; */
  /* box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3); */
  z-index: 100;
  background-color: #000000;
}

/*=============== NAV ===============*/

.nav {
  height: 3rem; /* Réduire la hauteur à 3rem (48px) */
}

.nav__logo,
.nav__burger,
.nav__close {
  color: #1A4D2E;
  font-size: 32px;
  /* font-weight: 900; */
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: "Teko", sans-serif;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -1.5px;
  font-size: 32px;
}

.nav__link.active {
  color: #1A4D2E; /* Example: Red color for active link */
  font-weight: 900;
  transition: .2s;
  font-size: 20px;
}

.nav__logo i {
  transform: rotate(45deg); /* Adjust the angle as needed */
  font-weight: 900;
  font-size: 22px;
}

.nav__logo .f {
  color: #1A4D2E;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3rem); /* Ajuster la hauteur */
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: #000000;
    padding-top: 1rem;
  }
}

.nav__link {
  color: #ffffff;
  /* background-color: #000000; */
  font-weight: 600;
  padding: 1rem 1.5rem; /* Ajuster le padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  color: #1A4D2E;
  transition: .5s;
}

.show-menu {
  opacity: 1;
  top: 3rem; /* Ajuster la position top */
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #fff;
  background-color: hsl(220, 24%, 15%);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 600;
  transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: #000000;
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: hsl(220, 20%, 18%);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3rem + 2rem); /* Ajuster la hauteur totale */
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 5rem; /* Ajuster la position top */
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 4.5rem; /* Ajuster la position top */
    pointer-events: initial;
    transition: top .3s;
  }

  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 19px;
  }
}
