<section class="pricing-area section-padding40 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <h2>Pricing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="properties__card">
                        <div class="about-icon">
                            <img src="assets/img/icon/price.svg" alt="">
                        </div>
                        <div class="properties__caption">
                            <span class="month">6 month</span>
                            <p class="mb-25">$30/m  <span>(Single class)</span></p>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Free riding </p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Unlimited equipments</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Personal trainer</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Weight losing classes</p>
                                </div>
                            </div>
                            <div class="single-features mb-20">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Month to mouth</p>
                                </div>
                            </div>
                            <a href="#" class="border-btn border-btn2">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="properties__card">
                        <div class="about-icon">
                            <img src="assets/img/icon/price.svg" alt="">
                        </div>
                        <div class="properties__caption">
                            <span class="month">6 month</span>
                            <p class="mb-25">$30/m  <span>(Single class)</span></p>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Free riding </p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Unlimited equipments</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Personal trainer</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Weight losing classes</p>
                                </div>
                            </div>
                            <div class="single-features mb-20">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Month to mouth</p>
                                </div>
                            </div>
                            <a href="#" class="border-btn border-btn2">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="properties__card">
                        <div class="about-icon">
                            <img src="assets/img/icon/price.svg" alt="">
                        </div>
                        <div class="properties__caption">
                            <span class="month">6 month</span>
                            <p class="mb-25">$30/m  <span>(Single class)</span></p>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Free riding </p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Unlimited equipments</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Personal trainer</p>
                                </div>
                            </div>
                            <div class="single-features">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Weight losing classes</p>
                                </div>
                            </div>
                            <div class="single-features mb-20">
                                <div class="features-icon">
                                    <img src="assets/img/icon/check.svg" alt="">
                                </div>
                                <div class="features-caption">
                                    <p>Month to mouth</p>
                                </div>
                            </div>
                            <a href="#" class="border-btn border-btn2">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Courses area End -->


