{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom-bootstrap.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <!-- navbar -->
    {% include 'navbar/navbar.html' %}

    {% block content %}
    {% endblock content %}
    
<section class="bootstrap-scope">
    {% include 'partials/footer.html' %}

</section>


    {% block js %}

    {% endblock js %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    

</body>
</html>